
NODE_ENV='development'
PORT=50052

APP_URL=http://localhost:50052
FRONT_APP_URL=http://localhost:5173

# model provider
FIRE_WORKS_API_KEY=

COHERE_API_KEY=


DB_URL=mongodb://admin:password123@mongo:27017/sales_agent_db?authSource=admin

REDIS_URL="redis://redis-cache:6379"

PG_VECTOR_DB_TYPE=postgres
# PG_VECTOR_DB_HOST=127.0.0.1
PG_VECTOR_DB_HOST=pg-vector-db
PG_VECTOR_DB_PORT=5432
PG_VECTOR_DB_USER=myuser
PG_VECTOR_DB_PASSWORD=ChangeMe
PG_VECTOR_DB_NAME=api
PG_VECTOR_TABLE_NAME=testlangchainjs



LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=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
LANGSMITH_PROJECT="sales_agent"
