# ======================================
# Dependencies
# ======================================
**/node_modules/

# ======================================
# Build output
# ======================================
# **/dist/
# **/build/
**/.tsbuildinfo

# ======================================
# Logs
# ======================================
**/logs/
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ======================================
# Environment variables
# ======================================
**/.env
**/.env.*
!.env.example

# ======================================
# IDEs
# ======================================
.vscode/
.idea/

# ======================================
# OS files
# ======================================
.DS_Store
Thumbs.db

# ======================================
# Coverage
# ======================================
**/coverage/

# ======================================
# Docker
# ======================================
**/.docker/

# ======================================
# Temporary files
# ======================================
**/.cache/
**/tmp/
**/.eslintcache

# ======================================
# Runtime PID files
# ======================================
**/*.pid
**/*.seed