
NODE_ENV='development'
PORT=50053

APP_URL=http://localhost:50053
FRONT_APP_URL=http://localhost:5173


DB_URL=mongodb://admin:password123@mongo:27017/sales_agent_db?authSource=admin


RabbitMQ_URL=amqp://admin:password123@rabbitmq:5672


# Give me a node script to generate:JWT_TOKEN_KEY= REFRESH_TOKEN_KEY=
# node -e "const crypto=require('crypto'); console.log('JWT_TOKEN_KEY='+crypto.randomBytes(64).toString('hex')); console.log('REFRESH_TOKEN_KEY='+crypto.randomBytes(64).toString('hex'));"

JWT_TOKEN_KEY=e9b1134051634b6d55d63b46e5666214dbf2917111b75b6dfcfb4b05f1b6e0f443e7f6a64d9b4fbc699d9e53ffe1d2b5d122108296ce56c2311634ed597f620d
REFRESH_TOKEN_KEY=bc83382d1a140e75d9ddded264bf14bbd1ed601b63849edcfbabeddb7b162cd9d24ed31dc563690ee04eae8bf91eac37553d79c62eacd429a448a1298c539728
